<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>My tienda</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../../assets/css/estilos.css">
    </head>
    <body>
        <div>
            <img src="../../assets/img/img1.png" alt="Imagen tienda">
        </div>
       <div>
            <form id='form_prod'>>
                <label>Nombre de la categoria</label>
                <br>
                <input type="text" id="nombre">
                <br>
                <label for="">Imagen</label>
                <br>
                <input type="file">
                <br>
                <label>Descripcion</label>
                <br>
                <textarea id="descripcion"></textarea>
                <br>
                <label>Categoria</label>
                <input type="number" id="categoria">
                <br>
                 <br>
                <label>Precio</label>
                <input type="number" id="precio">
                <br>
                <button type="button" class="bt1">Cancelar</button>
                <button type="submit" class="bt2">Guardar</button>
                <h2>Ian</h2>
            </form>
        </div>
        
        <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
        <script src="../../assets/js/validaciones.js" type="text/javascript"></script>
    </body>
    
</html>
